<span class="badge text-bg-light">
    <i class="fa fa-user-astronaut"></i>
    Powered by Olivier
</span>

<span class="badge text-bg-light">
     <i class="fa fa-copyright"></i>
    @DateTime.Today.Year
</span>

