<nav class="navbar navbar-expand-sm  bg-dark" data-bs-theme="dark">
    <div class="container">
        <NavLink href="/" class="navbar-brand">TodoImail</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <NavLink href="/" ActiveClass="active" class="nav-link">Accueil</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/mes-taches" ActiveClass="active" class="nav-link">Mes Tâches</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/chat" ActiveClass="active" class="nav-link">Chat</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
